body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* NAVBAR */

.navbar {
    height: 10%;
    width: 100%;
    background-color: black;
}

/* DRAW */

.draw {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

/* SKY */

.sky {
    height: 75%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 90, 200, 1) 0%, rgba(0, 220, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
}

/* OCEAN */

.ocean {
    height: 25%;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 90, 200, 1) 0%, rgba(0, 115, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
}

/* ISLAND */

.island {
    height: 40%;
    width: 50%;
    border-radius: 50%;
    top: 10%;
    left: 45%;
    justify-content: space-around;
    background-color: #fff5f5;
}

/* LAWN */

.lawn {
    height: 85%;
    width: 85%;
    border-radius: 50%;
    background-color: green;
}

/* PALM TREES */

/* PALM TREE 1, 2 and 3 */

.palm-tree-1 {
    height: 400%;
    width: 2.5%;
    bottom: 100%;
    right: 170%;
    justify-content: center;
}

.palm-tree-2 {
    height: 400%;
    width: 2.5%;
    bottom: 100%;
    right: 130%;
    justify-content: center;
}

.palm-tree-3 {
    height: 200%;
    width: 2.5%;
    bottom: 100%;
    right: 90%;
    justify-content: center;
}

/* TRUNK 1, 2 and 3 */

.trunk-1,
.trunk-2 {
    height: 100%;
    width: 100%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-image:
        linear-gradient(0deg, rgba(50, 35, 0, 0.25) 0%, rgba(150, 105, 0, 0.25) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.5) 25%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(150, 105, 0, 1) 100%);
    background-size: 100% 2%, 100% 100%, 100% 100%, 100% 100%;
}

.trunk-3 {
    height: 100%;
    width: 100%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-image:
        linear-gradient(0deg, rgba(50, 35, 0, 0.25) 0%, rgba(150, 105, 0, 0.25) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.5) 25%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(150, 105, 0, 1) 100%);
    background-size: 100% 4%, 100% 100%, 100% 100%, 100% 100%;
}

/* PALM 1-1, 1-2, 2-1, 2-2, 3-1, 3-2, 4-1, 4-2, 5-1 and 5-2 */

.palm-1-1,
.palm-1-2 {
    height: 27.5%;
    width: 1000%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 75% 47.5%, 76% 38%, 70% 42.5%, 65% 40%, 63.5% 30%, 60% 35%, 50% 30%, 30% 40%, 25% 35%, 25% 47.5%, 20% 50%);
    bottom: 79%;
    background-image: linear-gradient(90deg, rgba(0, 50, 10, 1) 0%, rgba(0, 150, 10, 1) 80%, rgba(0, 220, 10, 1) 100%);
}

.palm-2-1,
.palm-2-2 {
    height: 17.5%;
    width: 1200%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 90% 75%, 90% 65%, 87.5% 67.5%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 86.5%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.8) 0%, rgba(0, 150, 10, 0.8) 80%, rgba(0, 220, 10, 0.8) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-3-1,
.palm-3-2 {
    height: 22.5%;
    width: 600%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 83%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.6) 0%, rgba(0, 150, 10, 0.6) 80%, rgba(0, 220, 10, 0.6) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-4-1,
.palm-4-2 {
    height: 20%;
    width: 1200%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 84.75%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.4) 0%, rgba(0, 150, 10, 0.4) 80%, rgba(0, 220, 10, 0.4) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-5-1,
.palm-5-2 {
    height: 25%;
    width: 800%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 81.25%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.2) 0%, rgba(0, 150, 10, 0.2) 80%, rgba(0, 220, 10, 0.2) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

/* PALM 1-3, 2-3, 3-3, 4-3 and 5-3 */

.palm-1-3 {
    height: 27.5%;
    width: 500%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 75% 47.5%, 76% 38%, 70% 42.5%, 65% 40%, 63.5% 30%, 60% 35%, 50% 30%, 30% 40%, 25% 35%, 25% 47.5%, 20% 50%);
    bottom: 79%;
    background-image: linear-gradient(90deg, rgba(0, 50, 10, 1) 0%, rgba(0, 150, 10, 1) 80%, rgba(0, 220, 10, 1) 100%);
}

.palm-2-3 {
    height: 17.5%;
    width: 600%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 90% 75%, 90% 65%, 87.5% 67.5%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 86.5%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.8) 0%, rgba(0, 150, 10, 0.8) 80%, rgba(0, 220, 10, 0.8) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-3-3 {
    height: 22.5%;
    width: 300%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 83%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.6) 0%, rgba(0, 150, 10, 0.6) 80%, rgba(0, 220, 10, 0.6) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-4-3 {
    height: 20%;
    width: 600%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 84.75%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.4) 0%, rgba(0, 150, 10, 0.4) 80%, rgba(0, 220, 10, 0.4) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-5-3 {
    height: 25%;
    width: 400%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 81.25%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.2) 0%, rgba(0, 150, 10, 0.2) 80%, rgba(0, 220, 10, 0.2) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

/* HOUSE */

.house {
    height: 85%;
    width: 100%;
    flex-direction: column-reverse;
}

/* FACES */

.front-face {
    height: 10%;
    width: 15%;
    bottom: 2.5%;
    left: 65%;
    background-image: linear-gradient(0deg, rgba(255, 215, 250, 1) 15%, rgba(255, 145, 240, 1) 75%, rgba(110, 0, 95, 1) 100%);
    background-size: 100% 20%, 100% 100%;
}

.front-face::before {
    content: "";
    height: 200%;
    width: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    bottom: 100%;
    background-image: linear-gradient(0deg, rgba(255, 215, 250, 1) 15%, rgba(255, 145, 240, 1) 75%, rgba(110, 0, 95, 1) 100%);
    background-size: 100% 10%, 100% 100%;
}

.front-face::after {
    content: "";
    height: 10%;
    width: 100%;
    top: 100%;
    background-image: linear-gradient(0deg, rgba(125, 125, 125, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(125, 125, 125, 1) 100%);
    background-size: 100% 35%, 100% 100%;
}

.left-side {
    height: 10%;
    width: 7.25%;
    top: 87.5%;
    left: 57.75%;
    background-image:
        linear-gradient(0deg, rgba(255, 215, 250, 0.5) 15%, rgba(255, 145, 240, 0.5) 75%, rgba(110, 0, 95, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 20%, 100% 100%, 100% 100%;
}

.left-side::before {
    content: "";
    height: 10%;
    width: 100%;
    top: 100%;
    background-image:
        linear-gradient(0deg, rgba(125, 125, 125, 0.5) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(125, 125, 125, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 35%, 100% 100%, 100% 100%;
}

/* ROOF */

.roof-1-left-side {
    height: 20.5%;
    width: 15.5%;
    clip-path: polygon(50% 15%, 100% 0, 50% 100%, 0 100%);
    top: 67.05%;
    left: 57.35%;
    background-image:
        linear-gradient(0deg, rgba(128, 0, 0, 0.75) 0%, rgba(128, 0, 0, 0.75) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.roof-1-right-side {
    height: 20.5%;
    width: 15.5%;
    clip-path: polygon(0 15%, 50% 0, 100% 100%, 50% 100%);
    top: 67.05%;
    left: 65.1%;
    background-image:
        linear-gradient(0deg, rgba(128, 0, 0, 0.5) 0%, rgba(128, 0, 0, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.roof-2 {
    height: 3.5%;
    width: 10%;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    top: 87.5%;
    left: 72.45%;
    background-color: maroon;
}

.roof-2-left-side {
    height: 3.5%;
    width: 2.5%;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    top: 87.5%;
    left: 72.75%;
    background-image:
        linear-gradient(0deg, rgba(125, 125, 125, 0.5) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(125, 125, 125, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 10.25%, 100% 100%, 100% 100%;
}

.roof-2-right-side {
    height: 3.5%;
    width: 2.5%;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    top: 87.5%;
    left: 79.65%;
    background-image:
        linear-gradient(0deg, rgba(125, 125, 125, 0.5) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(125, 125, 125, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 10.25%, 100% 100%, 100% 100%;
}

.roof-3-1 {
    height: 4%;
    width: 3.5%;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 30% 100%);
    bottom: 26.9%;
    left: 64.5%;
    background-color: maroon;
}

.roof-3-2 {
    height: 4%;
    width: 3.5%;
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
    bottom: 26.9%;
    left: 63.45%;
    background-image:
        linear-gradient(0deg, rgba(128, 0, 0, 0.5) 0%, rgba(128, 0, 0, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

/* FRONT STEPS */

.front-steps-front-side {
    height: 1%;
    width: 6.9%;
    top: 97.5%;
    left: 75.25%;
    background-image: linear-gradient(0deg, rgba(125, 125, 125, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(125, 125, 125, 1) 100%);
    background-size: 100% 35%, 100% 100%;
}

.front-steps-left-side {
    height: 1%;
    width: 2.5%;
    top: 97.5%;
    left: 72.75%;
    background-image:
        linear-gradient(0deg, rgba(125, 125, 125, 0.5) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(125, 125, 125, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 35%, 100% 100%, 100% 100%;
}

/* PILLARS */

.pillar-left {
    height: 6.5%;
    width: 0.35%;
    top: 91%;
    left: 74.6%;
}

.pillar-right {
    height: 6.5%;
    width: 0.35%;
    top: 91%;
    left: 81.5%;
}

.pillar-left,
.pillar-right {
    background-image:
        linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25)100%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
}

/* DOOR */

.door {
    height: 6.5%;
    width: 2%;
    top: 91%;
    left: 75.25%;
    align-items: center;
    justify-content: center;
}

.door-1 {
    height: 90%;
    width: 85%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.door,
.door-1 {
    background-color: white;
    box-shadow: inset 0px 0px 2px 0 black;
}

.door-window-1 {
    height: 42.5%;
    width: 80%;
}

.door-handle {
    height: 6.5%;
    width: 10%;
    border-radius: 50%;
    right: 40%;
    background-color: goldenrod;
    box-shadow: inset 0px 0px 1px 0 black;
}

.door-window-2 {
    height: 42.5%;
    width: 80%;
}

.door-window-1,
.door-window-2 {
    background-image: linear-gradient(135deg, rgba(0, 90, 200, 1) 0%, rgba(0, 115, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(0, 90, 200, 1) 50%, rgba(0, 115, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
    box-shadow: inset 0px 0px 2.5px 0 black;
}

/* WINDOWS and SHUTTERS */

/* WINDOW 1 */

.window-1 {
    height: 5%;
    width: 2.5%;
    top: 91%;
    left: 68%;
}

.window-1-left,
.window-1-right {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: inset 0px 0px 2px 0 black;
}

.window-1-left-1,
.window-1-right-1 {
    height: 90%;
    width: 85%;
    background-image: linear-gradient(135deg, rgba(0, 90, 200, 1) 0%, rgba(0, 115, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(0, 90, 200, 1) 50%, rgba(0, 115, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
    box-shadow: inset 0px 0px 2.5px 0 black;
}

/* SHUTTERS */

.window-1-shutter-1 {
    height: 5%;
    width: 1.25%;
    left: 66.75%;
    bottom: 3.95%;
    align-items: center;
    justify-content: center;
}

.window-1-shutter-2 {
    height: 5%;
    width: 1.25%;
    left: 70.5%;
    bottom: 3.95%;
    align-items: center;
    justify-content: center;
}

.window-1-shutter-1,
.window-1-shutter-2 {
    background-color: white;
    box-shadow: inset 0px 0px 2px 0 black;
    ;
}

.window-1-shutter-1-1,
.window-1-shutter-2-1 {
    height: 90%;
    width: 85%;
}

.window-1-shutter-1-1,
.window-1-shutter-2-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 60%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 5.75%, 100% 100%;
}

/* WINDOW 2 */

.window-2-1 {
    height: 4.5%;
    width: 1.75%;
    bottom: 4%;
    left: 60.25%;
    align-items: center;
    justify-content: center;
}

.window-2-2 {
    height: 2.5%;
    width: 1.75%;
    border-radius: 47.5% 52.5% 50% 50% / 100% 100% 0% 0%;
    bottom: 8.5%;
    left: 60.25%;
    align-items: center;
    justify-content: center;
}

.window-2-1,
.window-2-2 {
    background-image:
        linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2px 0 black;
}

.window-2-1-1 {
    height: 90%;
    width: 90%;
}

.window-2-2-1 {
    height: 85%;
    width: 90%;
    border-radius: 47.5% 52.5% 50% 50% / 100% 100% 0% 0%;
}

.window-2-1-1,
.window-2-2-1 {
    background-image:
        linear-gradient(135deg, rgba(0, 90, 200, 0.5) 0%, rgba(0, 115, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 90, 200, 0.5) 50%, rgba(0, 115, 255, 0.5) 75%, rgba(255, 255, 255, 1) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2.5px 0 black;
}

/* BEDROOM */

.bedroom-1 {
    height: 5%;
    width: 2%;
    bottom: 21.85%;
    left: 63.75%;
    align-items: center;
    justify-content: center;
    background-image:
        linear-gradient(0deg, rgba(255, 215, 250, 0.5) 15%, rgba(255, 145, 240, 0.5) 75%, rgba(110, 0, 95, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 34%, 100% 100%, 100% 100%;
}

.bedroom-window {
    height: 90%;
    width: 80%;
    left: 7.5%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-image:
        linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2px 0 black;
}

.bedroom-window-1 {
    height: 20%;
    width: 80%;
    background-image:
        linear-gradient(135deg, rgba(0, 90, 200, 0.5) 0%, rgba(0, 115, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 90, 200, 0.5) 50%, rgba(0, 115, 255, 0.5) 75%, rgba(255, 255, 255, 1) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2.5px 0 black;
}

.bedroom-window-2 {
    height: 70%;
    width: 80%;
    background-image:
        linear-gradient(135deg, rgba(0, 90, 200, 0.5) 0%, rgba(0, 115, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 90, 200, 0.5) 50%, rgba(0, 115, 255, 0.5) 75%, rgba(255, 255, 255, 1) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2.5px 0 black;
}

.bedroom-2 {
    height: 5%;
    width: 2.25%;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    bottom: 21.85%;
    left: 65.75%;
    background-image: linear-gradient(0deg, rgba(255, 215, 250, 1) 15%, rgba(255, 145, 240, 1) 75%, rgba(110, 0, 95, 1) 100%);
    background-size: 100% 34%, 100% 100%;
}

.bedroom-3 {
    height: 4%;
    width: 2%;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    bottom: 26.9%;
    left: 63.75%;
    background-image:
        linear-gradient(0deg, rgba(255, 215, 250, 0.5) 15%, rgba(255, 145, 240, 0.5) 75%, rgba(110, 0, 95, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 50%, 100% 100%, 100% 100%;
}

/* Z-INDEX */

/* z-index: 1; */

.navbar,
.roof-1-right-side,
.palm-5-1,
.palm-5-2,
.palm-5-3 {
    z-index: 1;
}

/* z-index: 2; */

.front-face,
.front-face::before,
.front-face::after,
.left-side,
.left-side::before,
.roof-2-left-side,
.roof-2-right-side,
.front-steps-front-side,
.front-steps-left-side,
.pillar-left,
.pillar-right,
.door,
.window-1,
.window-1-shutter-1,
.window-1-shutter-2,
.window-2-1,
.window-2-2,
.palm-4-1,
.palm-4-2,
.palm-4-3 {
    z-index: 2;
}

/* z-index: 3; */

.roof-1-left-side,
.roof-2,
.roof-3-2,
.bedroom-1,
.bedroom-2,
.bedroom-3,
.palm-3-1,
.palm-3-2,
.palm-3-3 {
    z-index: 3;
}

/* z-index: 4; */

.roof-3-1,
.palm-2-1,
.palm-2-2,
.palm-2-3 {
    z-index: 4;
}

/* z-index: 5; */

.palm-1-1,
.palm-1-2,
.palm-1-3 {
    z-index: 5;
}

/* POSITIONS */

/* ABSOLUTE */

body,
.navbar,
.draw,
.house,
.front-face,
.front-face::before,
.front-face::after,
.left-side,
.left-side::before,
.roof-1-left-side,
.roof-1-right-side,
.roof-2,
.roof-2-left-side,
.roof-2-right-side,
.roof-3-1,
.roof-3-2,
.front-steps-front-side,
.front-steps-left-side,
.pillar-left,
.pillar-right,
.door,
.window-1,
.window-1-shutter-1,
.window-1-shutter-2,
.window-2-1,
.window-2-2,
.bedroom-1,
.bedroom-window,
.bedroom-2,
.bedroom-3,
.palm-tree-1,
.palm-tree-2,
.palm-tree-3,
.trunk-1,
.trunk-2,
.trunk-3,
.palm-1-1,
.palm-2-1,
.palm-3-1,
.palm-4-1,
.palm-5-1,
.palm-1-2,
.palm-2-2,
.palm-3-2,
.palm-4-2,
.palm-5-2,
.palm-1-3,
.palm-2-3,
.palm-3-3,
.palm-4-3,
.palm-5-3 {
    position: absolute;
}

/* RELATIVE */

.sky,
.ocean,
.island,
.lawn,
.door-1,
.door-window-1,
.door-handle,
.door-window-2,
.window-1-left,
.window-1-right,
.window-1-left-1,
.window-1-right-1 {
    position: relative;
}

/* DISPLAY */

.navbar,
.draw,
.sky,
.ocean,
.island,
.lawn,
.house,
.front-face,
.front-face::before,
.front-face::after,
.left-side,
.left-side::before,
.roof-1-left-side,
.roof-1-right-side,
.roof-2,
.roof-2-left-side,
.roof-2-right-side,
.roof-3-1,
.roof-3-2,
.front-steps-front-side,
.front-steps-left-side,
.pillar-left,
.pillar-right,
.door,
.door-1,
.door-window-1,
.door-handle,
.door-window-2,
.window-1,
.window-1-left,
.window-1-right,
.window-1-left-1,
.window-1-right-1,
.window-1-shutter-1,
.window-1-shutter-2,
.window-2-1,
.window-2-2,
.window-2-1-1,
.window-2-2-1,
.bedroom-1,
.bedroom-window,
.bedroom-2,
.bedroom-3,
.palm-tree-1,
.palm-tree-2,
.palm-tree-3,
.trunk-1,
.trunk-2,
.trunk-3,
.palm-1-1,
.palm-2-1,
.palm-3-1,
.palm-4-1,
.palm-5-1,
.palm-1-2,
.palm-2-2,
.palm-3-2,
.palm-4-2,
.palm-5-2,
.palm-1-3,
.palm-2-3,
.palm-3-3,
.palm-4-3,
.palm-5-3 {
    display: flex;
}