body {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* ALL */

.all {
    height: 100%;
    width: 100%;
    justify-content: center;
}

/* MAIN and DRAW */

.main-draw {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* MAIN */

.main {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

/* NAVBAR */

.navbar {
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    box-shadow: 0px 0px 5px 0px black;
}

.main-buttons {
    height: 70px;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

/* BUTTONS */

.button {
    /* BUTTON */
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: black;
    box-shadow: 0px 0px 5px 0px white;
    transition:
        background-color 0.15s,
        box-shadow 0.3s,
        text-shadow 0.15s;
    /* TEXT */
    text-align: center;
    color: white;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 10px 2.5px white;
}

.button:active {
    background-color: skyblue;
    box-shadow: 0px 0px 15px 7.5px skyblue;
    text-shadow: 0px 0px 5px white;
}

/* SPACE */

.space {
    height: 20px;
    width: 100%;
}

/* POP-UPS */

.popups {
    height: 100%;
    width: 57.5%;
}

.popup {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    opacity: 0;
    display: none;
    transform: translate(-50%, -50%) scale(0);
    animation: fadeInScale 0.5s forwards;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeOutScale {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}

/* DRAW */

.draw {
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

/* SKY */

.sky {
    height: 75%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 90, 200, 1) 0%, rgba(0, 220, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
}

/* OCEAN */

.ocean {
    height: 25%;
    width: 100%;
    flex-direction: column;
}

.ocean-1 {
    height: 90%;
    width: 100%;
    justify-content: space-around;
    background-image: linear-gradient(0deg, rgba(0, 90, 200, 1) 0%, rgba(0, 115, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
}

.ocean-2 {
    height: 10%;
    width: 100%;
}

/* ISLAND */

.underwater {
    height: 50%;
    width: 57.5%;
    border-radius: 50%;
    top: 10%;
    justify-content: space-around;
    background-color: #fff5f5;
    box-shadow: 0px 0px 10px 10px #fff5f5;
    opacity: 50%;
}

.island {
    height: 40%;
    width: 50%;
    border-radius: 50%;
    top: 10%;
    justify-content: space-around;
    background-image:
        linear-gradient(0deg, rgba(255, 245, 245, 0.5) 0%, rgba(255, 245, 245, 0.5) 100%),
        linear-gradient(175deg, rgba(0, 0, 0, 1) 0%, rgba(255, 245, 245, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

/* LAWN */

.lawn {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-image: linear-gradient(175deg, rgba(0, 70, 0, 1) 50%, rgba(0, 180, 0, 1) 100%);
}

/* PALM TREES */

/* PALM TREE 1, 2 and 3 */

.palm-tree-1 {
    height: 400%;
    width: 2.5%;
    bottom: 65%;
    left: 20%;
    justify-content: center;
}

.palm-tree-2 {
    height: 400%;
    width: 2.5%;
    bottom: 65%;
    left: 67.5%;
    justify-content: center;
}

.palm-tree-3 {
    height: 200%;
    width: 2.5%;
    bottom: 65%;
    left: 80%;
    justify-content: center;
}

/* TRUNK 1, 2 and 3 */

.trunk-1,
.trunk-2 {
    height: 100%;
    width: 100%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-image:
        linear-gradient(0deg, rgba(50, 35, 0, 0.25) 0%, rgba(150, 105, 0, 0.25) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.5) 25%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(150, 105, 0, 1) 100%);
    background-size: 100% 2%, 100% 100%, 100% 100%, 100% 100%;
}

.trunk-3 {
    height: 100%;
    width: 100%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-image:
        linear-gradient(0deg, rgba(50, 35, 0, 0.25) 0%, rgba(150, 105, 0, 0.25) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.5) 25%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(150, 105, 0, 1) 100%);
    background-size: 100% 4%, 100% 100%, 100% 100%, 100% 100%;
}

/* PALM 1-1, 1-2, 2-1, 2-2, 3-1, 3-2, 4-1, 4-2, 5-1 and 5-2 */

.palm-1-1,
.palm-1-2 {
    height: 27.5%;
    width: 1000%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 75% 47.5%, 76% 38%, 70% 42.5%, 65% 40%, 63.5% 30%, 60% 35%, 50% 30%, 30% 40%, 25% 35%, 25% 47.5%, 20% 50%);
    bottom: 79%;
    background-image: linear-gradient(90deg, rgba(0, 50, 10, 1) 0%, rgba(0, 150, 10, 1) 80%, rgba(0, 220, 10, 1) 100%);
}

.palm-2-1,
.palm-2-2 {
    height: 17.5%;
    width: 1200%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 90% 75%, 90% 65%, 87.5% 67.5%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 86.5%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.8) 0%, rgba(0, 150, 10, 0.8) 80%, rgba(0, 220, 10, 0.8) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-3-1,
.palm-3-2 {
    height: 22.5%;
    width: 600%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 83%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.6) 0%, rgba(0, 150, 10, 0.6) 80%, rgba(0, 220, 10, 0.6) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-4-1,
.palm-4-2 {
    height: 20%;
    width: 1200%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 84.75%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.4) 0%, rgba(0, 150, 10, 0.4) 80%, rgba(0, 220, 10, 0.4) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-5-1,
.palm-5-2 {
    height: 25%;
    width: 800%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 81.25%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.2) 0%, rgba(0, 150, 10, 0.2) 80%, rgba(0, 220, 10, 0.2) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

/* PALM 1-3, 2-3, 3-3, 4-3 and 5-3 */

.palm-1-3 {
    height: 27.5%;
    width: 500%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 75% 47.5%, 76% 38%, 70% 42.5%, 65% 40%, 63.5% 30%, 60% 35%, 50% 30%, 30% 40%, 25% 35%, 25% 47.5%, 20% 50%);
    bottom: 79%;
    background-image: linear-gradient(90deg, rgba(0, 50, 10, 1) 0%, rgba(0, 150, 10, 1) 80%, rgba(0, 220, 10, 1) 100%);
}

.palm-2-3 {
    height: 17.5%;
    width: 600%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 90% 75%, 90% 65%, 87.5% 67.5%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 86.5%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.8) 0%, rgba(0, 150, 10, 0.8) 80%, rgba(0, 220, 10, 0.8) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-3-3 {
    height: 22.5%;
    width: 300%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 83%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.6) 0%, rgba(0, 150, 10, 0.6) 80%, rgba(0, 220, 10, 0.6) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-4-3 {
    height: 20%;
    width: 600%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 84.75%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.4) 0%, rgba(0, 150, 10, 0.4) 80%, rgba(0, 220, 10, 0.4) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.palm-5-3 {
    height: 25%;
    width: 400%;
    clip-path: polygon(0 100%, 10% 25%, 25% 0, 50% 20%, 75% 0, 90% 25%, 100% 100%, 80% 50%, 50% 30%, 20% 50%);
    bottom: 81.25%;
    background-image:
        linear-gradient(90deg, rgba(0, 50, 10, 0.2) 0%, rgba(0, 150, 10, 0.2) 80%, rgba(0, 220, 10, 0.2) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

/* BUSHES */

.bush-1 {
    height: 35%;
    width: 5%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 50%;
    right: 74%;
}

.bush-2 {
    height: 30%;
    width: 5%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 50%;
    right: 80%;
}

.bush-3 {
    height: 30%;
    width: 6%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 45%;
    right: 76%;
}

.bush-4 {
    height: 35%;
    width: 5%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 40%;
    right: 72%;
}

.bush-5 {
    height: 25%;
    width: 6%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 35%;
    right: 72%;
}

.bush-6 {
    height: 20%;
    width: 3%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 35%;
    right: 60.5%;
}

.bush-7 {
    height: 30%;
    width: 5%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 32.5%;
    right: 56%;
}

.bush-8 {
    height: 30%;
    width: 6%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 65%;
    right: 22%;
}

.bush-9 {
    height: 25%;
    width: 5%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 65%;
    right: 12%;
}

.bush-10 {
    height: 30%;
    width: 5%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 55%;
    right: 26%;
}

.bush-11 {
    height: 25%;
    width: 5%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 60%;
    right: 18%;
}

.bush-12 {
    height: 20%;
    width: 4%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 60%;
    right: 10%;
}

.bush-13 {
    height: 25%;
    width: 4%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 40%;
    right: 28%;
}

.bush-14 {
    height: 20%;
    width: 4%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 55%;
    right: 20.5%;
}

.bush-15 {
    height: 22%;
    width: 5%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    bottom: 57.5%;
    right: 13.5%;
}

.bush-1,
.bush-2,
.bush-3,
.bush-4,
.bush-5,
.bush-6 {
    background-image:
        linear-gradient(90deg, rgba(0, 50, 0, 0.5) 0%, rgba(0, 180, 0, 0.5) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.bush-7,
.bush-8,
.bush-9,
.bush-10,
.bush-11,
.bush-12,
.bush-13,
.bush-14,
.bush-15 {
    background-image: linear-gradient(90deg, rgba(0, 50, 0, 1) 0%, rgba(0, 180, 0, 1) 100%);
}

/* ROCK */

.rock-1 {
    height: 15%;
    width: 3%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    top: 57.5%;
    left: 60%;
}

.rock-2 {
    height: 30%;
    width: 4%;
    border-radius: 65% 35% 50% 50% / 90% 90% 10% 10%;
    top: 45%;
    left: 57.5%;
}

.rock-1,
.rock-2 {
    background-image: linear-gradient(90deg, rgba(50, 50, 50, 1) 0%, rgba(100, 100, 100, 1) 50%, rgba(200, 200, 200, 1) 100%);
}

/* HOUSE */

.house {
    height: 340%;
    width: 50%;
    bottom: 60%;
    justify-content: space-around;
}

/* HOUSE ELEMENTS */

.house-elements {
    height: 100%;
    width: 200%;
    flex-direction: column-reverse;
}

/* FACES */

.front-face {
    height: 10%;
    width: 15%;
    bottom: 2.5%;
    left: 45%;
    background-image: linear-gradient(0deg, rgba(255, 215, 250, 1) 15%, rgba(255, 145, 240, 1) 75%, rgba(110, 0, 95, 1) 100%);
    background-size: 100% 20%, 100% 100%;
}

.front-face::before {
    content: "";
    height: 200%;
    width: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    bottom: 100%;
    background-image: linear-gradient(0deg, rgba(255, 215, 250, 1) 15%, rgba(255, 145, 240, 1) 75%, rgba(110, 0, 95, 1) 100%);
    background-size: 100% 10%, 100% 100%;
}

.front-face::after {
    content: "";
    height: 10%;
    width: 100%;
    top: 100%;
    background-image: linear-gradient(0deg, rgba(125, 125, 125, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(125, 125, 125, 1) 100%);
    background-size: 100% 35%, 100% 100%;
}

.left-side {
    height: 10%;
    width: 7.25%;
    top: 87.5%;
    left: 37.75%;
    background-image:
        linear-gradient(0deg, rgba(255, 215, 250, 0.5) 15%, rgba(255, 145, 240, 0.5) 75%, rgba(110, 0, 95, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 20%, 100% 100%, 100% 100%;
}

.left-side::before {
    content: "";
    height: 10%;
    width: 100%;
    top: 100%;
    background-image:
        linear-gradient(0deg, rgba(125, 125, 125, 0.5) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(125, 125, 125, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 35%, 100% 100%, 100% 100%;
}

/* ROOF */

.roof-1-left-side {
    height: 20.5%;
    width: 15.5%;
    clip-path: polygon(50% 15%, 100% 0, 50% 100%, 0 100%);
    top: 67.05%;
    left: 37.35%;
    background-image:
        linear-gradient(0deg, rgba(128, 0, 0, 0.75) 0%, rgba(128, 0, 0, 0.75) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.roof-1-right-side {
    height: 20.5%;
    width: 15.5%;
    clip-path: polygon(0 15%, 50% 0, 100% 100%, 50% 100%);
    top: 67.05%;
    left: 45.1%;
    background-image:
        linear-gradient(0deg, rgba(128, 0, 0, 0.5) 0%, rgba(128, 0, 0, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

.roof-2 {
    height: 3.5%;
    width: 10%;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    top: 87.5%;
    left: 52.45%;
    background-color: maroon;
}

.roof-2-left-side {
    height: 3.5%;
    width: 2.5%;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    top: 87.5%;
    left: 52.75%;
    background-image:
        linear-gradient(0deg, rgba(125, 125, 125, 0.5) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(125, 125, 125, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 10.25%, 100% 100%, 100% 100%;
    box-shadow: inset 1px 0px 5px 0px #323232;
}

.roof-2-right-side {
    height: 3.5%;
    width: 2.5%;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    top: 87.5%;
    left: 59.65%;
    background-image:
        linear-gradient(0deg, rgba(125, 125, 125, 0.5) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(125, 125, 125, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 10.25%, 100% 100%, 100% 100%;
}

.roof-3-1 {
    height: 4%;
    width: 3.5%;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 30% 100%);
    bottom: 26.9%;
    left: 44.5%;
    background-color: maroon;
}

.roof-3-2 {
    height: 4%;
    width: 3.5%;
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
    bottom: 26.9%;
    left: 43.45%;
    background-image:
        linear-gradient(0deg, rgba(128, 0, 0, 0.5) 0%, rgba(128, 0, 0, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
}

/* FRONT STEPS */

.front-steps-front-side {
    height: 1%;
    width: 6.9%;
    top: 97.5%;
    left: 55.25%;
    background-image: linear-gradient(0deg, rgba(125, 125, 125, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(125, 125, 125, 1) 100%);
    background-size: 100% 35%, 100% 100%;
}

.front-steps-left-side {
    height: 1%;
    width: 2.5%;
    top: 97.5%;
    left: 52.75%;
    background-image:
        linear-gradient(0deg, rgba(125, 125, 125, 0.5) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(125, 125, 125, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 35%, 100% 100%, 100% 100%;
    box-shadow: inset 1px 0px 5px 0px #323232;
}

/* PILLARS */

.pillar-left {
    height: 6.5%;
    width: 0.35%;
    top: 91%;
    left: 54.6%;
}

.pillar-right {
    height: 6.5%;
    width: 0.35%;
    top: 91%;
    left: 61.5%;
}

.pillar-left,
.pillar-right {
    background-image:
        linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25)100%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
}

/* DOOR */

.door {
    height: 6.5%;
    width: 2%;
    top: 91%;
    left: 55.25%;
    align-items: center;
    justify-content: center;
}

.door-1 {
    height: 90%;
    width: 85%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.door,
.door-1 {
    background-color: white;
    box-shadow: inset 0px 0px 2px 0 black;
}

.door-window-1 {
    height: 40%;
    width: 80%;
}

.door-handle {
    height: 6.5%;
    width: 10%;
    border-radius: 50%;
    right: 40%;
    background-color: goldenrod;
    box-shadow: inset 0px 0px 1px 0 black;
}

.door-window-2 {
    height: 40%;
    width: 80%;
}

.door-window-1,
.door-window-2 {
    background-image:
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(255, 255, 255, 0.75) 48%, rgba(255, 255, 255, 0.75) 50%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(180deg, rgba(0, 90, 200, 1) 0%, rgba(0, 220, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2.5px 0 black;
}

/* WINDOWS and SHUTTERS */

/* WINDOW 1 */

.window-1 {
    height: 5%;
    width: 2.5%;
    top: 91%;
    left: 48%;
}

.window-1-left,
.window-1-right {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: inset 0px 0px 2px 0 black;
}

.window-1-left-1,
.window-1-right-1 {
    height: 90%;
    width: 85%;
    background-image:
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(255, 255, 255, 0.75) 48%, rgba(255, 255, 255, 0.75) 50%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(180deg, rgba(0, 90, 200, 1) 0%, rgba(0, 220, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2.5px 0 black;
}

/* SHUTTERS */

.window-1-shutter-1 {
    height: 5%;
    width: 1.25%;
    bottom: 3.95%;
    left: 46.75%;
    align-items: center;
    justify-content: center;
}

.window-1-shutter-2 {
    height: 5%;
    width: 1.25%;
    bottom: 3.95%;
    left: 50.5%;
    align-items: center;
    justify-content: center;
}

.window-1-shutter-1,
.window-1-shutter-2 {
    background-color: white;
    box-shadow: inset 0px 0px 2px 0 black;
    ;
}

.window-1-shutter-1-1,
.window-1-shutter-2-1 {
    height: 90%;
    width: 85%;
}

.window-1-shutter-1-1,
.window-1-shutter-2-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 60%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 5.75%, 100% 100%;
}

/* WINDOW 2 */

.window-2-1 {
    height: 4.5%;
    width: 1.75%;
    bottom: 4%;
    left: 40.25%;
    align-items: center;
    justify-content: space-evenly;
}

.window-2-2 {
    height: 2.5%;
    width: 1.75%;
    border-radius: 47.5% 52.5% 50% 50% / 100% 100% 0% 0%;
    bottom: 8.5%;
    left: 40.25%;
    align-items: center;
    justify-content: space-evenly;
}

.window-2-1,
.window-2-2 {
    background-image:
        linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2px 0 black;
}

.window-2-1-1 {
    height: 90%;
    width: 85%;
}

.window-2-2-1 {
    height: 85%;
    width: 85%;
    border-radius: 47.5% 52.5% 50% 50% / 100% 100% 0% 0%;
}

.window-2-1-1,
.window-2-2-1 {
    background-image:
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(255, 255, 255, 0.25) 48%, rgba(255, 255, 255, 0.25) 50%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(180deg, rgba(0, 90, 200, 0.5) 0%, rgba(0, 220, 255, 0.5) 60%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2.5px 0 black;
}

/* BEDROOM */

.bedroom-1 {
    height: 5%;
    width: 2%;
    bottom: 21.85%;
    left: 43.75%;
    align-items: center;
    justify-content: center;
    background-image:
        linear-gradient(0deg, rgba(255, 215, 250, 0.5) 15%, rgba(255, 145, 240, 0.5) 75%, rgba(110, 0, 95, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 34%, 100% 100%, 100% 100%;
}

.bedroom-window {
    height: 90%;
    width: 80%;
    left: 7.5%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-image:
        linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2px 0 black;
}

.bedroom-window-1 {
    height: 30%;
    width: 80%;
}

.bedroom-window-2 {
    height: 55%;
    width: 80%;
}

.bedroom-window-1,
.bedroom-window-2 {
    background-image:
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(255, 255, 255, 0.25) 48%, rgba(255, 255, 255, 0.25) 50%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(180deg, rgba(0, 90, 200, 0.5) 0%, rgba(0, 220, 255, 0.5) 60%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
    box-shadow: inset 0px 0px 2.5px 0 black;
}

.bedroom-2 {
    height: 5%;
    width: 2.25%;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    bottom: 21.85%;
    left: 45.75%;
    background-image: linear-gradient(0deg, rgba(255, 215, 250, 1) 15%, rgba(255, 145, 240, 1) 75%, rgba(110, 0, 95, 1) 100%);
    background-size: 100% 34%, 100% 100%;
}

.bedroom-3 {
    height: 4%;
    width: 2%;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    bottom: 26.9%;
    left: 43.75%;
    background-image:
        linear-gradient(0deg, rgba(255, 215, 250, 0.5) 15%, rgba(255, 145, 240, 0.5) 75%, rgba(110, 0, 95, 0.5) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: 100% 50%, 100% 100%, 100% 100%;
}

/* SHADOW */

.shadow {
    height: 11%;
    width: 10.75%;
    clip-path: polygon(17.5% 0, 87.5% 0, 82.5% 100%, 12.5% 100%);
    bottom: 1.5%;
    left: 50.575%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

/* Z-INDEX */

/* z-index: 1; */

.navbar,
.palm-5-1,
.palm-5-2,
.palm-5-3,
.roof-1-right-side {
    z-index: 1;
}

/* z-index: 2; */

.palm-4-1,
.palm-4-2,
.palm-4-3,
.front-face,
.front-face::before,
.front-face::after,
.left-side,
.left-side::before,
.roof-2-right-side,
.pillar-right,
.door,
.window-1,
.window-1-shutter-1,
.window-1-shutter-2,
.window-2-1,
.window-2-2,
.shadow {
    z-index: 2;
}

/* z-index: 3; */

.palm-3-1,
.palm-3-2,
.palm-3-3,
.bush-5,
.bush-6,
.bush-7,
.roof-1-left-side,
.roof-2-left-side,
.front-steps-front-side,
.front-steps-left-side,
.pillar-left,
.roof-3-2,
.bedroom-1,
.bedroom-2,
.bedroom-3 {
    z-index: 3;
}

/* z-index: 4; */

.palm-2-1,
.palm-2-2,
.palm-2-3,
.rock-1,
.rock-2,
.roof-2,
.roof-3-1 {
    z-index: 4;
}

/* z-index: 5; */

.palm-1-1,
.palm-1-2,
.palm-1-3 {
    z-index: 5;
}

/* z-index: 6; */

.main {
    z-index: 6;
}

/* POSITIONS */

/* ABSOLUTE */

body,
.all,
.main-draw,
.main,
.draw,
.underwater,
.palm-tree-1,
.palm-tree-2,
.palm-tree-3,
.trunk-1,
.trunk-2,
.trunk-3,
.palm-1-1,
.palm-2-1,
.palm-3-1,
.palm-4-1,
.palm-5-1,
.palm-1-2,
.palm-2-2,
.palm-3-2,
.palm-4-2,
.palm-5-2,
.palm-1-3,
.palm-2-3,
.palm-3-3,
.palm-4-3,
.palm-5-3,
.bush-1,
.bush-2,
.bush-3,
.bush-4,
.bush-5,
.bush-6,
.bush-7,
.bush-8,
.bush-9,
.bush-10,
.bush-11,
.bush-12,
.bush-13,
.bush-14,
.bush-15,
.rock-1,
.rock-2,
.house,
.house-elements,
.front-face,
.front-face::before,
.front-face::after,
.left-side,
.left-side::before,
.roof-1-left-side,
.roof-1-right-side,
.roof-2,
.roof-2-left-side,
.roof-2-right-side,
.roof-3-1,
.roof-3-2,
.front-steps-front-side,
.front-steps-left-side,
.pillar-left,
.pillar-right,
.door,
.window-1,
.window-1-shutter-1,
.window-1-shutter-2,
.window-2-1,
.window-2-2,
.bedroom-1,
.bedroom-window,
.bedroom-2,
.bedroom-3,
.shadow {
    position: absolute;
}

/* RELATIVE */

.navbar,
.main-buttons,
.space,
.popups,
.popup,
.sky,
.ocean,
.ocean-1,
.ocean-2,
.island,
.lawn,
.door-1,
.door-window-1,
.door-handle,
.door-window-2,
.window-1-left,
.window-1-right,
.window-1-left-1,
.window-1-right-1 {
    position: relative;
}

/* DISPLAY */

.all,
.main-draw,
.main,
.navbar,
.main-buttons,
.space,
.popups,
.draw,
.sky,
.ocean,
.ocean-1,
.ocean-2,
.underwater,
.island,
.lawn,
.palm-tree-1,
.palm-tree-2,
.palm-tree-3,
.trunk-1,
.trunk-2,
.trunk-3,
.palm-1-1,
.palm-2-1,
.palm-3-1,
.palm-4-1,
.palm-5-1,
.palm-1-2,
.palm-2-2,
.palm-3-2,
.palm-4-2,
.palm-5-2,
.palm-1-3,
.palm-2-3,
.palm-3-3,
.palm-4-3,
.palm-5-3,
.bush-1,
.bush-2,
.bush-3,
.bush-4,
.bush-5,
.bush-6,
.bush-7,
.bush-8,
.bush-9,
.bush-10,
.bush-11,
.bush-12,
.bush-13,
.bush-14,
.bush-15,
.rock-1,
.rock-2,
.house,
.house-elements,
.front-face,
.front-face::before,
.front-face::after,
.left-side,
.left-side::before,
.roof-1-left-side,
.roof-1-right-side,
.roof-2,
.roof-2-left-side,
.roof-2-right-side,
.roof-3-1,
.roof-3-2,
.front-steps-front-side,
.front-steps-left-side,
.pillar-left,
.pillar-right,
.door,
.door-1,
.door-window-1,
.door-handle,
.door-window-2,
.window-1,
.window-1-left,
.window-1-right,
.window-1-left-1,
.window-1-right-1,
.window-1-shutter-1,
.window-1-shutter-2,
.window-2-1,
.window-2-2,
.window-2-1-1,
.window-2-2-1,
.bedroom-1,
.bedroom-window,
.bedroom-2,
.bedroom-3,
.shadow {
    display: flex;
}